<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>系统主页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body   >

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav nav-tabs">
                <li ><a href="#">Home</a></li>
                <li><a href="#">系统管理</a></li>
                <li><a href="#">商家管理</a></li>
                <li class="active"><a href="#" th:href="@{/user/userlists}">用户管理</a></li>
                <li><a href="#" th:href="@{/user/userAdd}">广告管理</a></li>
                <li><a href="#" th:href="@{/user/userDel}">订单管理</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" href="#">
                    蓝景优
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>
                        个人中心
                    </a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>
                        订单中心
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span>
                        退出
                    </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<table class="table">
    <thead>
    <tr>
        <th>姓名</th>
        <th>入职日期</th>
        <th>岗位</th></tr>
    </thead>
    <tbody>
    <tr class="active">
        <td>张三</td>
        <td>23/11/2013</td>
        <td>保安</td></tr>
    <tr class="success">
        <td>李四</td>
        <td>10/11/2013</td>
        <td>打手</td></tr>
    <tr class="warning">
        <td>王五</td>
        <td>20/10/2013</td>
        <td>产品</td></tr>
    <tr class="danger">
        <td>朱七</td>
        <td>20/10/2013</td>
        <td>司机</td></tr>
    </tbody>
</table>
     

</div>
</body>
</html>